/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* --bg-gradient: linear-gradient(-45deg, #1aacd0, #9e25df); */
    --bg-gradient: linear-gradient(-45deg, #013a48, #3f0260);
    --primary: #eeeeee;
    --secondary: #0682a1;
    --tertiary: #a8a8a8;
    /* --img-gradient: linear-gradient(to right, rgba(26, 172, 208, 0.72), rgba(26, 172, 208, 0.71)); */
    --img-gradient: linear-gradient(to right, rgba(3, 58, 72, 0.82), rgba(3, 58, 72, 0.81));
    --img-gradient-mobile: linear-gradient(to right, rgba(3, 58, 72, 0.88), rgba(3, 58, 72, 0.87));
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

/* Bootstrap input and button styling */
.btn{
    border-radius: 0px !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-radius: 0px !important;
}
.form-check-input[type=checkbox]{
    border-radius: 0px !important;
}
.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}


/* Main Section */
.main_section{
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--bg-gradient);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}


/* Left Section */
.left_section{
    position: relative;
    width: 18%;
    border-radius: 0px;
    background: var(--img-gradient), url("https://cdn.pixabay.com/photo/2020/04/12/20/37/abstract-5035778__340.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border-right: 1px solid rgba(0, 156, 254, 0.8);
}
.logo_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 2px solid rgba(0, 156, 254, 0.4);
}
.logo{
    width: 100px;
    height: auto;
}
.nav_items_section{
    width: 100%;
    height: auto;
}
.nav-pills .nav-link{
    width: 100%;
    color: var(--primary);
    background: transparent;
    display: flex;
    align-items: flex-start;
}
.nav-pills .nav-link:hover{
    background: #022028;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    color: var(--primary);
    background: #022028;
    border-bottom: none;
}
.social_links{
    width: 100%;
    position: absolute;
    bottom: 22px;
    border-top: 2px solid #022028;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social_link{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #022028;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_link i{
    font-size: 1.2rem;
    color: var(--primary);
}


/* Right Section */
.right_section{
    width: 80%;
    max-height: 88vh;
    margin: 4.5rem 5rem 2rem auto;
    overflow-y: scroll;
}
.content_body{
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-top: 2rem;
}

/* Home Section Styling */
.home_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
}

/* my_info_section */
.my_info_section{
    width: 50%;
    height: auto;
}
.greeting{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
    color: var(--tertiary);
}
.fullname{
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: var(--primary);
}
.my_profession{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    color: var(--secondary);
}
.desc{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary);
}
.hire_me_btn{
    width: 150px;
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.hire_me_btn:hover{
    background: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}


/* Global For Ever Title Tag start here */
.tag{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.09rem;
    color: var(--secondary);
}
.line_box{
    display: flex;
    align-items: center;
    gap: 0;
}
.line{
    width: 100px;
    height: 3px;
    background: var(--secondary);
}
.circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--secondary);
    box-shadow: 0px 0px 5px var(--secondary);
    margin-left: -2px;
}
/* Global For Ever Title Tag end here */


/* About us Section Styling */
.about_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 1.3rem;
    border-bottom: 1px solid var(--secondary);
}
.about_img_box{
    width: 45%;
    height: auto;
    background: #a8a8a8;
    border-radius: 40px;
}
.about_img{
    width: 100%;
    height: 60vh;
    padding: 0.4rem;
    border-radius: 40px;
}

/* About information Styling */
.info_section{
    width: 50%;
    height: auto;
}
.about_title{
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0.03rem;
}
.btn_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn_cv{
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.btn_cv:hover{
    background: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}
.btn_talk{
    background: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.btn_talk:hover{
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
}



/* image_section */
.image_section{
    width: 46%;
    height: auto;
    background: #a8a8a8;
    border-radius: 40px;
}
.my_img{
    width: 100%;
    height: 70vh;
    padding: 0.6rem;
    border-radius: 40px;
}

/* Achievement Section Styling */
.achievement_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1.3rem;
    border-bottom: 1px solid var(--secondary);
}
.achievement_box{
    border-right: 1px solid var(--tertiary);
    min-width: 260px;
    height: auto;
    text-align: center;
}
.last_child{
    border-right: none;
}
.total_count{
    font-size: 3.0rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0.03rem;
}
.achievement_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--tertiary);
    letter-spacing: 0.01rem;
}


/* Education and Skill Section Styling */
.skill_education_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.skill_education_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

/* Skill Section Styling */
.skill_section{
    width: 47%;
    height: auto;
}
.progress_bar_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress_title{
    font-size: 1.2rem;
    color: var(--primary);
}
.progress_count{
    font-size: 1.3rem;
    color: var(--secondary);
    font-weight: 600;
}
.progress{
    border-radius: 0px;
    background: var(--tertiary);
}
.progress-bar{
    background: var(--secondary);
}


/* Education Section Styling */
.education_section{
    width: 45%;
    height: auto;
}
.education_box{
    width: auto;
    height: auto;
    background: #013a48;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.education_img{
    width: 50px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}
.education_info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.education_title{
    font-size: 1.3rem;
    color: var(--primary);
}
.duration{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.start_date{
    width: 150px;
    background: #022028;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
}
.indicator{
    width: 20px;
    height: 3px;
    background: var(--tertiary);
}
.end_date{
    width: 150px;
    background: #022028;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
}

/* Services Section Styling */
.services_section{
    width: 100%;
    height: auto;
}
.our_services_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.services_box{
    width: 48%;
    height: auto;
    background: #013a48;
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    transition: 0.3s ease-out;
}
.services_box:hover{
    box-shadow: 0px 0px 10px var(--secondary);
}
.service_logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.service_title{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary);
}
.service_desc{
    font-size: 0.999rem;
    color: var(--tertiary);
}


/* Portfolio Secction Styling */
.our_project_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.portfolio_box{
    width: 360px;
    height: auto;
    background: #013a48;
}
.portfolio_img{
    width: 100%;
    height: 30vh;
}
.portfolio_title{
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 500;
}
.portfolio_desc{
    font-size: 0.999rem;
    color: var(--tertiary);
}

.btn_live_demo{
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.btn_live_demo:hover{
    background: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}
.btn_view_detail{
    background: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.btn_view_detail:hover{
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
}


/* Our Blog Section Styling */
.blog_section{
    width: 100%;
    height: auto;
}
.our_blog_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.blog_box{
    width: 360px;
    height: auto;
    background: var(--secondary);
    transition: transform 0.5s ease-out;
}
.blog_box:hover{
    transform: translate(0, -10px);
}
.blog_img_box{
    width: 100%;
    height: auto;
    position: relative;
}
.blog_img{
    width: 100%;
    height: 40vh;
}
.publish_owner_date_box{
    width: 95%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    border-bottom: 1px solid #013a48;
}
.publish_owner_date_box i{
    color: #013a48;
}
.blog_publisher{
    font-size: 1.1rem;
    color: #022028;
}
.blog_publish_date{
    font-size: 1.1rem;
    color: #022028;
}
.blog_title{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0.0998rem;
}
.blog_desc{
    font-size: 0.999rem;
    color: #013a48;
}
.btn_read_more{
    background: #013a48;
    color: var(--primary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.btn_read_more:hover{
    background: #013a48;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

/* Contact Section Styling */
.contact_section{
    width: 100%;
    height: auto;
}
.contact_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

/* Contact Detail box Styling */
.contact_detail_box{
    width: 34%;
    height: auto;
}
.contact_info_box{
    width: 100%;
    height: auto;
    background: #013a48;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.contact_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contact_title{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary);
}



/* Contact Form Styling */
.contact_form_box{
    width: 64%;
    height: auto;
}
.two_field{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.input_field{
    width: 49%;
    height: auto;
}
.label_text{
    font-size: 1.2rem;
    color: var(--tertiary);
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.contact_form_box .form-control{
    background: #022028;
    outline: none;
    color: var(--tertiary);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 1px solid #022028;
}
.contact_form_box .form-control:focus,
.contact_form_box .form-control:active:focus,
.contact_form_box .form-control.active:focus{
    outline: none;
    box-shadow: 0px 0px 6px var(--secondary);
    background: #022028;
    color: var(--tertiary);
    border: 1px solid var(--secondary);
}

.btn_submit{
    width: 160px;
    background: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    transition: 0.55s ease-out;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
}
.btn_submit:hover{
    background: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

/* For small devices styling */
.top_logo_menu_section{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(0, 156, 254, 0.2);
}
.bottom_section{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;    
    border-radius: 0px;
    background: var(--img-gradient-mobile), url("https://cdn.pixabay.com/photo/2020/04/12/20/37/abstract-5035778__340.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0.5rem;
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border-right: 1px solid rgba(0, 156, 254, 0.8);
}
.nav_items_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.nav_items_box .nav-pills{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* For Responsive to all devices */
@media screen and (min-width: 770px) {
    .top_logo_menu_section{
        display: none;
    }
    .bottom_section{
        display: none;
        z-index: -1;
    }
    
}

@media screen and (max-width: 768px) {
    .left_section{
        display: none;
    }
    .right_section{
        width: 100%;
        margin: 4.5rem 1.7rem;
    }
    .content_body{
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }
    .home_section{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .my_info_section{
        width: 100%;
        height: auto;
    }
    .fullname {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
    }
    .image_section{
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
    .my_img {
        width: 100%;
        height: 45vh;
        border-radius: 30px;
    }
    /*  */
    .about_section {
        flex-wrap: wrap;
        row-gap: 0rem;
    }
    .about_img_box {
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
    .about_img {
        width: 100%;
        height: 45vh;
        border-radius: 30px;
    }
    .info_section {
        width: 100%;
        height: auto;
    }
    .about_title {
        font-size: 2.0rem;
        letter-spacing: 0.02rem;
        line-height: 2.5rem;
    }

    /*  */
    .achievement_section {
        flex-wrap: wrap;
        column-gap: 0rem;
    }
    .achievement_box {
        border: 1px solid var(--tertiary);
        min-width: 100%;
    }

    /*  */
    .skill_education_box{
        flex-wrap: wrap;
    }
    .skill_section {
        width: 100%;
        height: auto;
    }
    .education_section {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .education_box {
        width: 49% !important;
        gap: 0.7rem;
    }
    .duration {
        gap: 0.5rem;
    }
    .start_date {
        width: 105px;
    }
    .end_date {
        width: 105px;
    }

    /*  */
    .services_box {
        width: 100%;
        height: auto;
    }
    .service_logo {
        width: 60px;
        height: 60px;
    }

    /*  */
    .our_project_section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .portfolio_box {
        width: 100%;
        height: auto;
        background: #013a48;
    }
    .portfolio_img {
        width: 100%;
        height: 50vh;
    }

    /*  */
    .our_blog_section {
        flex-wrap: wrap;
        z-index: -1;
    }
    .blog_box{
        width: 100%;
        height: auto;
    }
    .blog_img {
        width: 100%;
        height: 50vh;
    }

    /*  */
    .contact_box {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .contact_detail_box {
        width: 100%;
        height: auto;
    }
    .contact_info_box {
        gap: 1rem;
    }
    .contact_form_box {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 478px) {
    .left_section{
        display: none;
    }
    .right_section{
        width: 100%;
        margin: 4.5rem 0.5rem;
    }
    .content_body{
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }
    .home_section{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .my_info_section{
        width: 100%;
        height: auto;
    }
    .fullname {
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
    }
    .image_section{
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
    .my_img {
        width: 100%;
        height: 40vh;
        border-radius: 30px;
    }
    /*  */
    .about_section {
        flex-wrap: wrap;
        row-gap: 0rem;
    }
    .about_img_box {
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
    .about_img {
        width: 100%;
        height: 40vh;
        border-radius: 30px;
    }
    .info_section {
        width: 100%;
        height: auto;
    }
    .about_title {
        font-size: 1.7rem;
        letter-spacing: 0.02rem;
        line-height: 2.16rem;
    }

    /*  */
    .achievement_section {
        flex-wrap: wrap;
        column-gap: 0rem;
    }
    .achievement_box {
        border: 1px solid var(--tertiary);
        min-width: 100%;
    }

    /*  */
    .skill_education_box{
        flex-wrap: wrap;
    }
    .skill_section {
        width: 100%;
        height: auto;
    }
    .education_section {
        width: 100% !important;
        height: auto;
    }
    .education_box {
        width: 100% !important;
        gap: 0.7rem;
    }
    .duration {
        gap: 0.5rem;
    }
    .start_date {
        width: 105px;
    }
    .end_date {
        width: 105px;
    }

    /*  */
    .services_box {
        width: 100%;
        height: auto;
    }
    .service_logo {
        width: 40px;
        height: 40px;
    }

    /*  */
    .our_blog_section {
        flex-wrap: wrap;
        z-index: -1;
    }

    /*  */
    .contact_box {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .contact_detail_box {
        width: 100%;
        height: auto;
    }
    .contact_info_box {
        gap: 1rem;
    }
    .contact_form_box {
        width: 100%;
        height: auto;
    }

}
/* @media screen and (max-width: 390px) {

} */

/* End Section */